// Notice, text with an icon to the left
.#{$govuk-namespace}#{$prefix-component}notice {

  @include clearfix;

  position: relative;

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px; // Half the height of the important icon
  }

  &__text {
    @include bold-19;
    display: block;
    padding-left: (35 + 30) + px;
    margin-left: -$gutter-half;
  }
}
