.gv-c-typeahead {
  input:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
  }
  .tt-menu {
    width: 100%;
    width: calc(100% - 4px);
    max-height: 342px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 2px solid #6f777b;
  }
  .tt-suggestion {
    position: relative;
    display: block;
    margin-bottom: -2px;
    padding: 8px;
    border: solid #bfc1c3;
    border-width: 2px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    cursor: pointer;
  }
  @media (min-width: 641px) {
    .tt-suggestion {
      font-size: 19px;
      line-height: 1.31579;
    }
  }
  .tt-suggestion:first-of-type {
    border-top-width: 0;
  }
  .tt-suggestion:hover, .tt-suggestion:focus {
    z-index: 1;
    background-color: #2b8cc4;
    border-color: #2b8cc4;
    color: white;
  }
  @media (min-width: 641px) {
    .tt-menu {
      width: 50%;
      width: calc(50% - 4px);
    }
  }
}
