{% extends "govuk_template.njk" %}

{% block page_title %}
  {{ _target.title }} &#9670; GOV.UK Frontend Alpha
{% endblock %}

{% block stylesheet %}
  <link media="all" rel="stylesheet" href="{{ '/stylesheets/govuk-frontend.css' | path }}">
{% endblock %}

{% block stylesheet_print %}
  <link media="all" rel="stylesheet" href="{{ '/stylesheets/govuk-template-print.css' | path }}">
{% endblock %}

{% block header_class %} hidden {% endblock %}

{% block after_header %}
  <style>
    html {
      background: white;
    }
  </style>
{% endblock %}

{% block global_header_bar %}
{% endblock %}

{% block logo_src %}
  {{ '/images/template/gov.uk_logotype_crown_invert_trans.png' | path }}
{% endblock %}

{% block content %}
  {{ yield }}
{% endblock %}

{% block footer_class %} hidden {% endblock %}

{% block scripts %}
<!--[if gte IE 8]><!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ '/javascripts/govuk-template.min.js' | path }}"></script>
  <script src="{{ '/javascripts/toolkit.min.js' | path }}"></script>
  <script src="{{ '/javascripts/components.min.js' | path }}"></script>
<!--<![endif]-->
{% endblock %}
