<details class="gv-c-details">
  <summary class="gv-c-details__summary">
    <span class="gv-c-details__summary-text">{{ summary }}</span>
  </summary>
  <div class="panel panel-border-narrow">
    {% if details %}{{ details }}{% else %}{{ detailsHtml|safe }}{% endif %}
  </div>
</details>
