// Objects - Wrapper
// ==========================================================================

$site-width: 960px;

@mixin o-wrapper {
  max-width: $site-width;

  @include ie-lte(8) {
    width: $site-width;
  }

  margin: 0 $gutter-half;

  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: ($site-width + $gutter * 2)) {
    margin: 0 auto;
  }
}

.#{$govuk-namespace}o-wrapper {
  @include o-wrapper;

  @include clearfix;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter * 3;
  }

  // Pressing enter when focus is on the skiplink sets focus on the #content area
  // Remove the blue outline
  outline: none;
}
