// Dimensions
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_grid_layout.scss#L6
$site-width:          960px !default;

// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_measurements.scss#L3
$full-width:          100%;
$one-quarter:         $full-width / 4;
$one-third:           $full-width / 3;
$half:                $full-width / 2;
$two-thirds:          ($full-width) - ($one-third);
$three-quarters:      ($full-width) - ($one-quarter);

// Widths of things
$width-focus-outline: 3px;

// Guttters
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_measurements.scss#L10
$gutter:              30px;
$gutter-one-quarter:  $gutter / 4;
$gutter-one-third:    $gutter / 3;
$gutter-half:         $gutter / 2;
$gutter-two-thirds:   $gutter - $gutter-one-third;

// Breakpoints
// These are new! Based on
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss#L45
$breakpoint-mobile:    460px !default; // (and below) max-width
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss#L41
$breakpoint-tablet:    461px !default; // (and above) min-width
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss#L37
$breakpoint-desktop:   769px !default; // (and above) min-width


// IE specific vars for conditional stylesheets
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss#L25
$is-ie:               false !default;
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_conditionals.scss#L26
$mobile-ie6:          true !default;

// URL helpers - file path
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_url-helpers.scss#L3
$path:                false !default;

// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss
//  GOV.UK font stacks, referred to in typography.scss

// Allow uppercase letters in font stack variable names
// scss-lint:disable NameFormat

// New Transport Light
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L7
$NTA-Light: "nta", Arial, sans-serif;
$NTA-Light-Tabular: "ntatabularnumbers", $NTA-Light;

// Helvetica Regular
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L11
$Helvetica-Regular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Allow font stack to be overridden
// Not all apps using toolkit use New Transport
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L15
$toolkit-font-stack: $NTA-Light !default;
$toolkit-font-stack-tabular: $NTA-Light-Tabular !default;

// Print stylesheets (template)
// https://github.com/alphagov/govuk_template/blob/master/source/assets/stylesheets/styleguide/_print.scss
$is-print:          false !default;

// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L19
// Font reset for print
$print-reset:       sans-serif;

// Namespaces and prefixes
// http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/

$prefix-scope:      s- !default;

$prefix-js:         js- !default;
