// Date pattern

.gv-c-form-group-date {

  .gv-c-form-group {
    float: left;
    width: 50px;

    margin-right: 20px;
    margin-bottom: 0;
    clear: none;
  }

  .gv-c-form-group__date-year {
    width: 70px;
  }

  .gv-c-form-group-date__label {
    display: block;
    padding-bottom: 2px;
  }

  .gv-c-form-group-date__control {
    width: 100%;

    // Hide the 'spinner' for webkit
    // and also for Firefox
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

}
