// Refactoring:
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_components.scss
// .gv-box-highlight

.gv-c-box {
  // TODO: Use consistent units
  margin: 1em 0;
  padding: 2em 0 1em;
  text-align: center;
}

.gv-c-box--highlight {
  background: $turquoise;
  color: $white;
}
