// Refactoring:
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/forms/_form-validation.scss

// Form validation
// ==========================================================================

// Summary of multiple error messages
.gv-error-summary {

  // Error summary has a border on all sides
  border: 4px solid $error-colour;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  padding: $gutter-half 10px;

  @include media(tablet) {
    border: 5px solid $error-colour;

    margin-top: $gutter;
    margin-bottom: $gutter;

    padding: $gutter-two-thirds $gutter-half $gutter-half;
  }

  @include ie-lte(6) {
    zoom: 1;
  }

  // Use the GOV.UK outline focus style
  &:focus {
    outline: 3px solid $focus-colour;
  }

  .error-summary-heading {
    margin-top: 0;
  }

  p {
    margin-bottom: 10px;
  }

  .error-summary-list {
    padding-left: 0;

    li {

      @include media(tablet) {
        margin-bottom: 5px;
      }
    }

    a {
      color: $error-colour;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
