// Refactoring
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_lists.scss

.gv-c-list {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  @include core-19;
}

.gv-c-list--bullet {
  padding-left: 1em;
  list-style-type: disc;
}

.gv-c-list--number {
  padding-left: 1em;
  list-style-type: decimal;
}

.gv-c-list__item {
  margin-bottom: 5px;
}

