.gv-c-step {

  display: inline-block;
  @include border-radius(50%);

  background: $black;
  color: $white;

  // Allow uppercase letters in font stack variable names
  // sass-lint:disable variable-name-format
  font-family: $NTA-Light-Tabular;
  font-size: 12px;
  font-weight: bold;
  text-align: center;

  // Default step circles are 24px x 24px
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.gv-c-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}
