// https://raw.githubusercontent.com/alphagov/govuk_frontend_toolkit/master/stylesheets/_url-helpers.scss

// URL Helpers
// A function which can either output a image-url to be used with the Rails
// Asset Pipeline or Compass or a plain url which is prefixed with a defined
// path variable.
@function file-url($file) {
  $url: "";
  @if $path {
    // Explicitly set by code importing govuk-frontend, always respect `$path`
    $url: url($path + $file);
  } @else if function-exists(image-url) {
    // Defer to `image-url` in enviroments where it exists (`rails`, `compass`)
    $url: image-url($file);
  } @else {
    // Default works only with this repo, or projects with identical asset paths
    $url: url($default-image-path + $file);
  }
  @return $url;
}
