// Refactoring:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_breadcrumbs.scss
// .breadcrumbs

.#{$govuk-namespace}#{$prefix-component}breadcrumb {
  // TODO: Use consistent units
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  &__list {
    @include clearfix;
  }

  &__list-item {
    @include core-16;
    float: left;

    background-image: file-url("separator.png");

    @include device-pixel-ratio() {
      background-image: file-url("separator-2x.png");
      background-size: 6px 11px;
    }

    background-position: 0% 50%;
    background-repeat: no-repeat;

    list-style: none;

    margin-left: 0.6em;
    margin-bottom: 0.4em;
    padding-left: 0.9em;
  }

  &__link {
    color: $text-colour;
  }

  &__list-item--first {
    background-image: none;
    margin-left: 0;
    padding-left: 0;
  }
}
