// Refactoring:
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_details.scss
// details

.#{$govuk-namespace}#{$prefix-component}details {
  display: block;

  &__summary {
    display: inline-block;
    position: relative;

    margin-bottom: em(5); // todo: use consistent units

    color: $govuk-blue;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
    }

    &:focus {
      outline: $width-focus-outline solid $focus-colour;
    }
  }

  // Underline only summary text (not the arrow)
  &__summary-text {
    text-decoration: underline;
  }

  // Match fallback arrow spacing with -webkit default
  &__arrow {
    margin-right: .35em; // todo: use consistent units
    font-style: normal;
  }

}
