// Refactoring:
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_typography.scss#L249
// .external-link

// Private mixin for use solely by those below

@mixin external-link-size($content, $top, $top-hover: top) {
  &:after {
    content: $content;
    background-position: right $top;
  }

  @if $top-hover == top {
    $top-hover: $top;
  }

  &:hover:after {
    background-position: right $top-hover;
  }
}

@mixin external-link-12-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0\A0\A0", $top: 0);
}

@mixin external-link-12 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0\A0\A0", $top: 0, $top-hover: -388px);
}

@mixin external-link-13-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px);
}

@mixin external-link-13 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px, $top-hover: -387px);
}

@mixin external-link-14 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 1px, $top-hover: -387px);
}

@mixin external-link-14-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 2px);
}

@mixin external-link-16 {
  @include external-link-size($content: "\A0\A0\A0\A0\A0", $top: 3px, $top-hover: -385px);
}

@mixin external-link-16-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 3px);
}

@mixin external-link-19-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0", $top: 6px);
}

@mixin external-link-19 {
  @include external-link-size($content: "\A0\A0\A0\A0", $top: 6px, $top-hover: -382px);
}

@mixin external-link-19-bold-no-hover {
  @include external-link-size($content: "\A0\A0\A0\A0\A0\A0", $top: 6px);
}

@mixin external-link-default {
  &:after {
    background-image: file-url("external-links/external-link.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: file-url("external-links/external-link-24x24.png");
      background-size: 12px 400px;
    }
  }
}

@mixin external-link-heading {
  &:after {
    background-image: file-url("external-links/external-link-black-12x12.png");
    background-repeat: no-repeat;

    @include device-pixel-ratio() {
      background-image: file-url("external-links/external-link-black-24x24.png");
      background-size: 12px 400px;
    }
  }
}

// The template uses this, but only defines this size
.external-link {
  @include external-link-12-no-hover;
  @include external-link-heading;
}

// TODO: Should this be a component?
.#{$govuk-namespace}#{$prefix-component}external-link {
  @include external-link-12-no-hover;
  @include external-link-heading;
}

