// Refactoring
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_lists.scss

.gv-c-list {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;

  &__item {
    margin-bottom: 5px;
  }

  &--bullet {
    padding-left: 20px;
    list-style-type: disc;
  }

  &--number {
    padding-left: 20px;
    list-style-type: decimal;

    @include ie-lte(7) {
      padding-left: 28px;
    }
  }
}
