// Lists
// ==========================================================================

// From elements
ul,
ol {
  list-style-type: none;
}

nav {
  ol {
    list-style: inherit;
  }
}

nav {
  ul {
    list-style: inherit;
  }
}
