// Form elements
// ==========================================================================
button,
input,
optgroup,
select,
textarea {
  // sass-lint:disable variable-name-format
  font-family: $NTA-Light;
}

//    This has been removed from Normalize (line 408), is it needed here?
// 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof).

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; // 2
  box-sizing: content-box;
}

input:focus {
  outline: 3px solid $focus-colour;
}

select:focus {
  outline: 3px solid $focus-colour;
}

// Remove margin under textarea in Chrome and FF
textarea {
  display: block;
}

textarea:focus {
  outline: 3px solid $focus-colour;
}

// Fieldset is used to group more than one .form-group
fieldset {
  width: 100%;
  // Override normalize
  margin: 0;
  padding: 0;
  border: none;
}

// Fix left hand gap in IE7 and below
// This feels hacky, should it go elsewhere!?
// Test this to make sure it is needed
@include ie-lte(7) {
  legend {
    margin-left: -7px;
  }
}

// Indicate that certain elements are interactive
[role="button"],
label {
  cursor: pointer;
}
