// Links
// ==========================================================================

a:link {
  color: $link-colour;
}

a:visited {
  color: $link-visited-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:active {
  color: $link-active-colour;
}

// Delete this and instead require a class
// a[rel="external"] {
//   @include external-link-default;
//   @include external-link-16;
//   @include media(tablet) {
//     @include external-link-19;
//   }
// }

// https://raw.githubusercontent.com/alphagov/govuk_template/master/source/assets/stylesheets/_accessibility.scss
//  Give a strong clear visual idea as to what is currently in focus
// sass-lint:disable no-color-literals
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a:focus {
  background-color: $focus-colour;
  outline: 3px solid $focus-colour;
}
