// Overrides to Normalize.scss are in here

// BASE STYLES SET BY GOVUK TEMPLATE
// https://raw.githubusercontent.com/alphagov/govuk_template/master/source/assets/stylesheets/_basic.scss

// needed for IE10 desktop snap mode: http://menacingcloud.com/?c=cssViewportOrMetaTag
@-ms-viewport {
  width: device-width;
}

/*
 * 2. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 *    note - font-size reduced to 62.5% to allow simple rem/px font-sizing and fallback
 *    http://snook.ca/archives/html_and_css/font-size-with-rem
 * 3. Keeps page centred in all browsers regardless of content height
 * 4. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 */

html {
  font-family: $NTA-Light;

  // Set background colour to match footer background
  // This will need to be overridden for anyone not wanting a GOV.UK theme footer (move to theme layer?)
  background-color: $footer-background;
  // Force the scrollbar to always display in IE10/11
  -ms-overflow-style: scrollbar;

  font-size: 62.5%; /* 2 */
  overflow-y: scroll; /* 3 */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* 4 */
}


/*
 * 1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 */

body {
  font-family: $NTA-Light;
  font-size: 160%; /* 1 */
  background: $white;
  color: $text-colour;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

/* Text-level semantics
   ========================================================================== */
// Override normalize.css line 140
b,
strong {
  font-weight: 600;
}

@include ie-lte(7) {
  button {
    overflow:visible;
  }
}

// Form base styles are in _base/form-elements.scss

// COPIED FROM GOV.UK TEMPLATE, DO WE NEED ANYTHING BELOW THIS LINE?
html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  vertical-align: baseline;
}

// Force images to be constrained by their parent grid items
img {
  max-width: 100%;
}
