// Tables
// ==========================================================================

table,
td,
th {
  font-family: $NTA-Light;
}

table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    @include core-19;
    padding: em(12, 19) em(20, 19) em(9, 19) 0;

    text-align: left;
    color: $black;
    border-bottom: 1px solid $border-colour;
  }

  th {
    font-weight: 700;
  }

}
