<div class="gv-c-form-group {% if error %}gv-c-form-group--has-error{% endif %}">
  <fieldset>

    <legend>
      <span class="gv-c-form-group__label">{{ legend }}</span>
      {% if hint %}
        <span class="gv-c-form-group__hint">{{ hint }}</span>
      {% endif %}
      {% if error %}
        <span class="gv-c-form-group__error-message">{{ error }}</span>
      {% endif %}
    </legend>

    {% for radio in radioGroup %}
      <div class="gv-c-multiple-choice">
        <input class="gv-c-multiple-choice__control"
               id="{{ radio.id }}"
               type="radio"
               name="{{ id }}"
               value="{{ radio.value }}"
               {% if value == radio.value %}checked{% endif %}>
        <label class="gv-c-multiple-choice__label" for="{{ radio.id }}">{{ radio.label }}</label>
      </div>
    {% endfor %}

  </fieldset>
</div>
