// Template reset
// In base.scss

// Toolkit has no reset

// Elements reset
// https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_reset.scss

div,
span,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dt,
li,
label,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
  border: none;
  margin: 0;
  padding: 0;
}

// sass-lint:disable single-line-per-selector

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin:  0;
  padding: 0;
}

// sass-lint:enable single-line-per-selector

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

abbr[title] {
  text-decoration: none;
}

acronym[title] {
  text-decoration: none;
}
