<div class="gv-c-notice">
  <i class="gv-c-notice__icon gv-c-notice__icon--important"><span class="gv-c-notice__icon-fallback-text">{{ iconDescription }}</span></i>
  <strong class="gv-c-notice__text">{{ text }}</strong>
</div>
