// Back link styles - with left pointing arrow

.gv-c-link-back {
  @include inline-block;
  position: relative;

  @include core-16;

  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  padding-left: 14px;

  color: $black;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
  }

  // Back arrow - left pointing black arrow
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-right: 6px solid $text-colour;
    border-bottom: 5px solid transparent;

    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }

  // Fallback
  // IE8 doesn't support rgba and only supports the single colon syntax for :before
  // IE7 doesn't support pseudo-elements, let's fallback to an image instead.
  // Ref: http://caniuse.com/#search=%3Abefore, http://caniuse.com/#search=rgba
  @include ie-lte(8) {
    background: file-url("icon-arrow-left.png") no-repeat 0 4px;
  }

}
