{% extends "govuk_template.html" %}

{% block content %}
  <main class="gv-o-wrapper">
    {% import "../components/button.nunjucks" as button %}

    <div class="govuk-u-mb-10">
    {{ button.buttonComponent(class=buttonData.context.class, type=buttonData.context.type, text=buttonData.context.text) }}
    </div>

    <div class="govuk-u-mb-10">
    {{ button.buttonComponent(class=buttonPrimaryData.context.class, type=buttonPrimaryData.context.type, text=buttonPrimaryData.context.text) }}
    </div>

    {% import "../components/form-group.nunjucks" as formGroup %}

    <div class="govuk-u-mb-10">
    <!-- To refer to, for the examples below -->
    <!-- {{ formGroup.formGroupComponent(id=formGroupData.context.id,
                                    name=formGroupData.context.name,
                                    label=formGroupData.context.label,
                                    hint=formGroupData.context.hint,
                                    error=formGroupData.context.error) }} -->
    </div>

    <div class="govuk-u-mb-10">
    {{ formGroup.formGroupComponent("full-name",
                                    "full-name",
                                    "Full name") }}
    </div>

    <div class="govuk-u-mb-10">
    {{ formGroup.formGroupComponent("full-name",
                                    "full-name",
                                    "Full name",
                                    "As shown on your birth certificate or passport") }}
    </div>

    <div class="govuk-u-mb-10">
    {{ formGroup.formGroupComponent("full-name",
                                    "full-name",
                                    "Full name",
                                    "As shown on your birth certificate or passport",
                                    "Error message about full name goes here") }}
    </div>

    <div class="govuk-u-mb-10">
    {{ formGroup.formGroupComponent("nino",
                                    "nino",
                                    "What is your National Insurance number",
                                    "It'll be on your last payslip. For example, VO 12 34 56 D.",
                                    "") }}
    </div>

    <div class="govuk-u-mb-10">
    {{ formGroup.formGroupComponent("nino",
                                    "nino",
                                    "What is your National Insurance number",
                                    "It'll be on your last payslip. For example, VO 12 34 56 D.",
                                    "Error message about National Insurance number goes here") }}
    </div>

  </main>
{% endblock %}
